absl-py==0.11.0
amqp==5.0.3
appdirs==1.4.4
asgiref==3.2.10
astroid==2.3.3
astunparse==1.6.3
autopep8==1.5.6
bandit==1.7.0
billiard==3.6.3.0
boto3==1.17.1
botocore==1.20.1
Brotli==1.0.9
CacheControl==0.12.6
cachetools==4.1.1
celery==5.0.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
colorama==0.4.4
cryptography==3.3.1
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.0.7
django-allauth==0.44.0
django-celery-beat==2.0.0
django-crispy-forms==1.11.2
django-extensions==2.2.5
django-filter==2.4.0
django-timezone-field==4.1.1
django-werkzeug-debugger-runserver==0.3.1
et-xmlfile==1.0.1
filelock==3.0.12
gast==0.3.3
gcloud==0.18.3
gitdb==4.0.7
GitPython==3.1.14
google-api-core==1.26.3
google-api-python-client==2.2.0
google-auth==1.28.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.2
google-cloud-core==1.6.0
google-cloud-firestore==2.1.0
google-cloud-storage==1.37.1
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
grpcio==1.34.0
gTTS==2.2.1
h5py==2.10.0
httplib2==0.19.1
humanize==3.2.0
idna==2.10
importlib-metadata==3.1.0
imutils==0.5.3
isort==4.3.21
jdcal==1.4.1
jmespath==0.10.0
joblib==1.0.1
jwcrypto==0.8
kombu==5.0.2
lazy-object-proxy==1.4.3
Markdown==3.2.1
mccabe==0.6.1
metaflow==2.2.6
MouseInfo==0.1.3
msgpack==1.0.2
mysql-connector-python==8.0.22
oauth2client==4.1.3
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.9
pathlib==1.0.1
pbr==5.5.1
Pillow==7.1.2
pycryptodome==3.10.1
PyJWT==2.0.1
pylint==2.4.4
pyOpenSSL==19.0.0
Pyrebase4==4.4.3
PyScreeze==0.1.26
python-crontab==2.5.1
python-dateutil==2.8.1
python-decouple==3.4
python-jwt==3.3.0
python-social-auth==0.2.1
python3-openid==3.2.0
PyTweening==1.0.3
pytz==2020.1
requests==2.25.0
requests-oauthlib==0.3.1
requests-toolbelt==0.9.1
social-auth-app-django==3.1.0
social-auth-core==4.0.3
sqlparse==0.3.1
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
typed-ast==1.4.2
uritemplate==3.0.1
urllib3==1.26.2
vine==5.0.0
virtualenv==20.2.1
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.6
wcwidth==0.2.5
Werkzeug==0.16.0
whitenoise==5.2.0
wrapt==1.11.2
zipp==3.4.0
